.pagination-container {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-item{
  flex: 1;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}
